.container{
    display: flex;
    margin: 11px;
    justify-content: space-between;
}
.box-oke{
    height: 100px;
    border: 2px solid beige;
    margin: 5px;
}
.satu{
    width: 20%;
    background-color: yellow;
}
.dua{
    width: 80%;
    background-color: orange;
}
.kotak{
    margin: 0px 5px;
    border: 2px solid antiquewhite;
    height: 350px;
}
.item1{
    width: 20%;
    background-color: azure;
}
.item2{
    width: 60%;
    background-color: aquamarine;
}
.item3{
    width: 20%;
    background-color: bisque;
}
.footer-box{
    border: 2px solid beige;
    height: 100px;
    width: 100%;
    margin: 5px;
    background-color: brown;
}